.pokemon-page-view {
	display: inline-block;
    //margin-top: -webkit-calc(100% -0px);
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;

}

.pokemon-cards {
	display: inline-block;
	margin: 10px 10px 10px 10px;

	&:hover {
        opacity: 0.6;
    }
}